<template>
  <v-container>
    <v-btn color="primary" :to="{ name: 'aut.realm.index' }" large text exact>
      <v-icon>mdi-chevron-left</v-icon>
      <h4> Voltar </h4>
    </v-btn>

    <v-form class="my-5" v-model="valid" @submit.prevent="submit">
      <v-layout wrap>
        <v-flex xs12 md12>
          <v-text-field
            v-model="realm.name"
            v-bind="commonStyle"
            :rules="rules.required"
            label="Nome"
          />
        </v-flex>
        <v-flex xs12 md12>
          <v-textarea
            v-model="realm.description"
            v-bind="commonStyle"
            label="Descrição"
            :rules="rules.required"
          />
        </v-flex>

        <v-flex xs12 md12>
          <v-combobox
            v-model="realm.administrators"
            :items="[]"
            label="Administradores"
            v-bind="commonStyle"
            :rules="administratorsRules"
            chips clearable multiple
          >
            <template v-slot:selection="{ index, item, select, selected }">
              <v-chip
                :input-value="selected"
                @click="select"
                color="secondary"
                @click:close="removeAdministrator(index)"
                close
              >
                <strong>{{ item }}</strong>
              </v-chip>
            </template>
          </v-combobox>
        </v-flex>

        <v-flex xs12 md4>
          <v-checkbox v-model="realm.twoFactor" label="Usar verificação em duas etapas"/>
        </v-flex>
        <v-flex xs12 md4>
          <v-checkbox v-model="realm.emailConfirmation" label="Usar email de confirmação"/>
        </v-flex>
        <v-flex xs12 md4>
          <v-select
            v-model="realm.strategies"
            v-bind="commonStyle"
            label="Estratégias"
            :items="strategies"
            :rules="strategiesRules"
            multiple/>
        </v-flex>

      </v-layout>
      <v-layout class="px-md-6">
        <v-btn color="primary secondary--text"
          :disabled="!valid"
          rounded
          type="submit"
          :block="$vuetify.breakpoint.smAndDown"
          min-width="200px">
          Salvar
        </v-btn>
      </v-layout>
    </v-form>

  </v-container>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data () {
    return {
      valid: false,
      realm: {},
      administratorsRules: [
        (v) => this.validateRequiredSelectField(v),
        (v) => this.validateEmailList(v)
      ],
      strategiesRules: [
        (v) => this.validateRequiredSelectField(v)
      ]
    }
  },

  computed: {
    rules () {
      return this.$petragold.forms.rules
    },
    realmId () {
      return this.$route.params.id
    },
    commonStyle () {
      return { filled: true, rounded: true }
    },
    strategies () {
      return [
        { text: 'Documento', value: 'password/doc' },
        { text: 'Email', value: 'password/email' },
        { text: 'Telefone', value: 'password/phone' }
      ]
    }
  },

  watch: {
    realmId: {
      async handler (id) {
        if (id) {
          this.$petragold.loading()
          this.realm = await this.get(id)
            .finally(() => this.$petragold.loading())
        }
      },
      immediate: true
    }
  },

  methods: {
    ...mapActions('authenticator.realm', ['save', 'get']),

    async submit () {
      try {
        this.$petragold.loading()
        await this.save(this.realm)
        this.$router.replace({ name: 'aut.realm.index' })
      }
      catch (err) {
        console.error(err.message)
        this.$petragold.notify('Erro ao tentar cadastrar, tente novamente')
      }
      finally {
        this.$petragold.loading()
      }
    },

    validateRequiredSelectField (value) {
      return (value && value.length > 0) || 'O campo e obrigatório'
    },

    validateEmailList (value) {
      const invalid = value.find((item) => this.rules.email[0](item) !== true);
      return invalid ? `${invalid} não é um endereço de email válido` : true
    },

    removeAdministrator (index) {
      this.realm.administrators.splice(index, 1)
    }
  }

}
</script>
