<template>
  <v-container mt-1 fluid>

    <v-data-table
      :headers="headers"
      :items="realms"
      :items-per-page="30"
      :loading="loading"
      class="elevation-0"
      hide-default-footer>

      <template v-slot:item.emailConfirmation="{ item }">
        <div class="text-center">
          <v-icon :color="item.emailConfirmation? 'success': 'grey'">
            mdi-moon-full
          </v-icon>
        </div>
      </template>

      <template v-slot:item.twoFactor="{ item }">
        <div class="text-center">
          <v-icon :color="item.twoFactor? 'success': 'grey'">
            mdi-moon-full
          </v-icon>
        </div>
      </template>

      <template v-slot:item.actions="{ item }">
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn :to="{ name: 'aut.realm.update', params: { id: item.id }}" icon v-on="on">
              <v-icon> mdi-pencil-box-outline </v-icon>
            </v-btn>
          </template>
          <span> Editar </span>
        </v-tooltip>
        <v-tooltip color="secondary" top>
          <template v-slot:activator="{ on }">
            <v-btn @click="remove(item)" color="red" icon v-on="on">
              <v-icon> mdi-delete </v-icon>
            </v-btn>
          </template>
          <span>Excluir</span>
        </v-tooltip>
      </template>
    </v-data-table>

    <v-tooltip color="secondary" left>
      <template v-slot:activator="{ on }">
        <v-btn
          :to="{ name: 'aut.realm.create' }"
          fixed dark fab
          bottom right
          color="primary"
          v-on="on">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </template>
      <span>Novo</span>
    </v-tooltip>

  </v-container>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  async created () {
    await this.list()
  },

  data () {
    return {
      headers: [
        {
          text: 'Nome', align: 'start', sortable: false, value: 'name'
        },
        {
          text: 'Descrição', align: 'start', sortable: false, value: 'description'
        },
        {
          text: 'Estratégias', align: 'start', sortable: false, value: 'strategies'
        },
        {
          text: 'Two factor', align: 'center', sortable: false, value: 'twoFactor'
        },
        {
          text: 'Confirmação de email', align: 'center', sortable: false, value: 'emailConfirmation'
        },
        {
          text: '', align: 'center', sortable: false, value: 'actions'
        }
      ]
    }
  },

  computed: {
    ...mapState('authenticator.realm', {
      realms: (state) => state.list.docs,
      loading: (state) => state.loading,
    })
  },

  methods: {
    ...mapActions('authenticator.realm', ['delete', 'list']),

    remove (item) {
      this.$petragold.confirm({
        title: 'Atenção',
        text: 'Tem certeza que deseja excluir o registro?'
      }, async (res) => {
        if (res) {
          try {
            this.$petragold.loading()
            await this.delete(item.id)
            this.$petragold.notify('Item deletado com sucesso')
          }
          catch (err) {
            console.log(err.message)
            this.$petragold.notify('Erro ao deletar, tente novamente')
          }
          finally {
            this.$petragold.loading()
          }
        }
      })
    },
  }
}
</script>

<style>

</style>
